# Python
*.pyc
__pycache__/

# Environment variables
.env

# Logs
*.log

# Virtual environment
venv/
env/
.venv/

# IDE/Editor files
.vscode/
.idea/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Output files
output.docx
saved_strokes/
