torch==2.4.0+cu124
torchvision==0.19.0+cu124
torchaudio==2.4.0+cu124
mediapipe==0.10.14
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
Pillow==10.2.0
numpy==1.26.3
python-docx==1.1.2
rarfile==4.2
scikit-learn==1.5.1
scipy==1.14.0
matplotlib==3.9.1
